.selected.md-list-avatar{
  background-color: #0bcb9a;
}
.selected.md-list-avatar:hover{
  background-color: grey;
}
.md-list-avatar:hover {
  color: #607D8B;
  background-color: lightpink;
}
.jg-hero{
  margin-top: 50px;
  height: calc(100% - 70px);
  width: 100%;
  padding: 0px 10px;
}
.hero-main-area {
  .show-heros {
    margin: auto
    height: 300px
    overflow:hidden;
  }
}
.jg-hero.tall{
  margin-top: 70px;
}
